html {
  width: 100%;
  font-size: 62.5%;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  background: url("back.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 500px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .login {
    width: 40vw!important;
    height: 25vw!important;
    left: calc((100vw - 40vw)/2) !important;
    top: calc((100vh - 25vw)/2) !important;
  }
  .head {
    height: 5vw!important;
    font-size: 2.5vh!important;
    line-height: 6vw!important;
  }
  input {
    width: calc(75% - 5vw) !important;
    height: 4.5vw!important;
  }
  button {
    font-size: 2vh!important;
    line-height: 5vw!important;
    margin-top: 0!important;
  }
  .tip {
    height: 2.5vw!important;
    line-height: 2.5vw!important;
    font-size: .6rem!important;
    margin-top: 0!important;
  }
  .tip-1 {
    height: 2.5vw!important;
    line-height: 2.5vw!important;
    font-size: .6rem;
  }
  .tip-2 {
    height: 2.5vw!important;
    line-height: 2.5vw!important;
    font-size: .6rem;
  }
  .img {
    width: 5vw!important;
    height: 4.5vw!important;
    padding: 0!important;
  }
  .img img {
    margin-top: calc((4.5vw -  16px)/2) !important;
  }
  .img span {
    height: 2.3vw!important;
    top: 1.1vw!important;
  }
}
.login {
  position: absolute;
  width: 540px;
  height: 350px;
  left: calc((100vw - 540px)/2);
  top: calc((100vh - 350px)/2);
  text-align: center;
  background: #d2d7df;
  z-index: 200;
}
.login .head {
  width: 100%;
  height: 60px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 75px;
  color: #03a9f4;
}
.login input {
  display: block;
  padding-left: 5%;
  width: calc(75% - 4rem);
  text-align: left;
  height: 50px;
  border: none;
  outline: none;
}
.login .img {
  width: 4rem;
  height: 40px;
  padding: 5px 0;
  float: left;
  margin-left: 10%;
  background: white;
  position: relative;
}
.login .img img {
  width: 80%;
  height: 80%;
  max-width: 15px;
  max-height: 17px;
  margin-top: 13px;
}
.login span {
  height: 24px ;
  position: absolute;
  top: 13px;
  right: 0;
  border: 1px solid gainsboro;
}
.login .tip-1 {
  width: 80%;
  margin: 0 auto;
  color: red;
  height: 40px ;
  line-height: 40px;
  font-size: 1rem;
  text-align: left;
}
.login .tip-2 {
  width: 80%;
  margin: 0 auto;
  color: red;
  height: 40px ;
  line-height: 40px;
  font-size: 1rem;
  text-align: left;
}
.login .tip {
  margin-top: -10px;
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  text-align: center;
  color: red;
  line-height: 4rem;
}
.login button {
  width: 80%;
  margin: 0 10%;
  margin-top: 10px;
  font-size: 3rem;
  line-height: 70px;
  color: white;
  background: #03a9f4;
  border-radius: 5px ;
}
h1 {
  font-size: 4rem;
}
